@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap');

:root {
    --corfundo: #dbd9db84;
    --cor01: #7e7c7e;
    --cor02: #C9C5C9;
    --cor03: #3D3C3D;
    --cor04: #8A878A; 
    --cor05: #636163;


   --fonte-destaque: 'Kanit', sans-serif;
   --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;

}

body {
    font-family: var(--fonte-padrão);
    background-color: var(--corfundo);
}

header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--corfundo));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.304);
}

header p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    font-weight: bold;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.255);
}

nav {
    background-color:var(--corfundo) ;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.11);
}

nav a {
    color: var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.7s;
}

nav a:hover {
    background-color: var(--cor05);
    color: white;
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.179);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor03);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.6em;
    background-image: linear-gradient(to right, var(--cor02), transparent);
}

main img {
    max-width: 100%;
    display: block;
    margin: auto;
}


main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-weight: bold;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: var(--cor05);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor03);
}

aside {
    padding: 40px;
    margin: 50px -20px 50px -20px;
    background-color: var(--cor01);
}

aside h2 {
    color: white;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\💰\00A0\00A0';
}

div.video {
    background-color: var(--cor04);
    margin: 0px -20px 30px -20;
    padding: 20px;
    padding-bottom: 57px;
    position: relative;
    height: 500px;
    border-radius: 0px 0px 7px 7px;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.titulo {
    border-radius: 7px 7px 0px 0px;
    color: var(--cor03);
    background-color: var(--cor04);
    padding-bottom: 5px;
    
}

div.titulo > h3 {
    color: white;
    text-align: center;
    font-size: 1.4em;
}

div.titulo > p {
    text-align: center;
}

footer {
    background-color: var(--cor03);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

